{% extends "base.html" %}


{% block content %}
    <h1>Shop</h1>

    <h3>Novi proizvodi:</h3>

    <div class="proizvod">
        <img src="/static/img/bad_dnd_shirt.avif">
        <h2>Most Fire T-Shirt You'll Ever Have</h2>
        <p>19,90 $</p>
    </div>

    <div class="proizvod">
        <img src="/static/img/mug.jpg" alt="dont drink that coffe man">
        <h2>A Coffee Mug</h2>
        <p>9,50 $</p> 
    </div>

    <div class="proizvod">
        <img src="/static/img/white_tshirt.jpg" alt="">
        <h2>A Very Relatable T-Shirt</h2>
        <p>13,45 $</p>
    </div>

{% endblock content %}